# Files generate by autotools
Makefile
Makefile.in
aclocal.m4
autom4te.cache
configure
config.status
config.log
fedora/dfu-programmer.spec
src/.deps/*
src/config.h
src/config.h.in
src/stamp-h1

# Output files
src/*.o
src/dfu-programmer

# Hex files shouldn't generally be in the repo
*.hex

# No Windows libraries or executables
*.dll
*.exe

# Ignore dist packages
*.tar.gz

# tab completion file
dfu_programmer

# Autotools dir
m4/

# Apple temp files
*~
